.kotak1 {
    background-color: brown;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.kotak2 {
    background-color: brown;
    width: 60%;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    float: right;
}

.kotak3 {
    background-color:green;
    width: 40%;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    margin-bottom: 10px;

}
.kotak5 {
    background-color: brown;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    clear: both;
    

    
}
